<dl>
  {{#each modifiers}}
  <dt>
    Unordered List<br />
    <small>
      <code>c-nav</code>{{#each this}} <code>c-nav--{{.}}</code>{{/each}}
    </small>
  </dt>
  <dd>
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ul>{{> @link-list links=../links is-list=true }}</ul>
    </nav>
    {{#if ../show_buttons }}
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ul>{{> @button-list buttons=../links is-list=true }}</ul>
    </nav>
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ul>{{> @button-list buttons=../links is-list=true as-links=true }}</ul>
    </nav>
    {{/if}}
  </dt>
  {{/each}}
</dl>
<dl>
  {{#each modifiers}}
  <dt>
    Ordered List<br />
    <small>
      <code>c-nav</code>{{#each this}} <code>c-nav--{{.}}</code>{{/each}}
    </small>
  </dt>
  <dd>
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ol>{{> @link-list links=../links is-list=true }}</ol>
    </nav>
    {{#if ../show_buttons }}
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ol>{{> @button-list buttons=../links is-list=true }}</ol>
    </nav>
    <nav class="c-nav{{#each this}} c-nav--{{.}}{{/each}}">
      <ol>{{> @button-list buttons=../links is-list=true as-links=true }}</ol>
    </nav>
    {{/if}}
  </dt>
  {{/each}}
</dl>
