<table class="{{#if table }}has-table{{/if}} {{#if class }}{{ class }}{{/if}}">
  {{#if caption }}
  <caption>{{{ caption }}}</caption>
  {{/if}}
  {{#if data.cols }}
  <thead>
    <tr>
      {{#each data.cols}}<th>{{ this }}</th>{{/each}}
    </tr>
  </thead>
  {{/if}}
  <tbody>
  {{#each data.key-value-pairs}}
    <tr>
      {{#if key}}<th class="c-data-list__key">{{ key }}</th>{{/if}}
      {{#if value}}<td class="c-data-list__value">{{ value }}</td>{{/if}}
    </tr>
  {{/each}}
  {{#each data.rows}}
    <tr>
      {{#if id}}<td data-col="{{ getColFromRow this id @root.data.cols }}">{{ id }}</td>{{/if}}
      {{#if name}}<td data-col="{{ getColFromRow this name @root.data.cols }}">{{ name }}</td>{{/if}}
      {{#if name-link}}<td data-col="{{ getColFromRow this name-link @root.data.cols }}"><a href="#">{{ name-link }}</a></td>{{/if}}
      {{#if paragraph}}
      <td data-col="{{ getColFromRow this paragraph @root.data.cols }}" title="{{> @text-of-one-paragraph-short }}">
        <p>{{> @text-of-one-paragraph-short }}</p>
      </td>
      {{/if}}
      {{#if sentence}}
      <td data-col="{{ getColFromRow this sentence @root.data.cols }}" title="{{> @text-of-one-sentence }}">
        <span>{{> @text-of-one-sentence }}</span>
      </td>
      {{/if}}
      {{#if custom-1}}<td data-col="{{ getColFromRow this custom-1 @root.data.cols }}">{{{ custom-1 }}}</td>{{/if}}
      {{#if custom-2}}<td data-col="{{ getColFromRow this custom-2 @root.data.cols }}">{{{ custom-2 }}}</td>{{/if}}
      {{#if custom-3}}<td data-col="{{ getColFromRow this custom-3 @root.data.cols }}">{{{ custom-3 }}}</td>{{/if}}
      {{#if time}}<td data-col="{{ getColFromRow this time @root.data.cols }}"><time>{{ time }}</time></td>{{/if}}
      {{#if acts}}
      <td data-col="{{ getColFromRow this acts @root.data.cols }}">
        <ul>
        {{#each acts}}
          {{#if is-link }}<li><a href="#">{{ text }}</a></li>{{/if}}
          {{#if is-button}}<li>
            <button class="c-button c-button--as-link">
              {{ text }}
            </button>
          </li>{{/if}}
        {{/each}}
        </ul>
      </td>
      {{/if}}
      {{#if table}}
      <td class="has-table">
        {{> @table data=../table }}
      </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
