<link rel="stylesheet" href="{{path '/elements/links.css'}}" />
<link rel="stylesheet" href="{{path '/components/c-button.css'}}" />

<table>
  <thead>
    <tr>
      {{#each cols}}<th>{{ this }}</th>{{/each}}
    </tr>
  </thead>
  <tbody>
  {{#each rows}}
    <tr>
      {{#if id }}<th>{{ id }}</th>{{/if}}
      {{#if nameLink }}<th><a href="#">{{ nameLink }}</a></th>{{/if}}
      {{#if name}}<th>{{ name }}</th>{{/if}}
      {{#if size}}<td>{{ size }}</td>{{/if}}
      {{#if time}}<td><time>{{ time }}</time></td>{{/if}}
      {{#if acts}}
      <td>
        <ul>
        {{#each acts}}
          {{#if isLink }}<li><a href="#">{{ text }}</a></li>{{/if}}
          {{#if isButton}}<li>
            <button href="#" class="c-button c-button--as-link">
              {{ text }}
            </button>
          </li>{{/if}}
        {{/each}}
        </ul>
      </td>
    {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
