<table class="{{#if table }}has-table{{/if}} {{#if class }}{{ class }}{{/if}}">
  {{#if caption }}
  <caption>{{{ caption }}}</catpion>
  {{/if}}
  {{#if data.cols }}
  <thead>
    <tr>
      {{#each data.cols}}<th>{{ this }}</th>{{/each}}
    </tr>
  </thead>
  {{/if}}
  <tbody>
  {{#each data.key-value-pairs}}
    <tr>
      {{#if key}}<th class="c-data-list__key">{{ key }}</th>{{/if}}
      {{#if value}}<td class="c-data-list__value">{{ value }}</td>{{/if}}
    </tr>
  {{/each}}
  {{#each data.rows}}
    <tr>
      {{#if id}}<th>{{ id }}</th>{{/if}}
      {{#if name}}<th>{{ name }}</th>{{/if}}
      {{#if name-link}}<th><a href="#">{{ name-link }}</a></th>{{/if}}
      {{#if paragraph}}
      <td title="{{> @text-of-one-paragraph-short }}">
        <p>{{> @text-of-one-paragraph-short }}</p>
      </td>
      {{/if}}
      {{#if sentence}}
      <td title="{{> @text-of-one-sentence }}">
        <span>{{> @text-of-one-sentence }}</span>
      </td>
      {{/if}}
      {{#if custom-1}}<td>{{{ custom-1 }}}</td>{{/if}}
      {{#if custom-2}}<td>{{{ custom-2 }}}</td>{{/if}}
      {{#if custom-3}}<td>{{{ custom-3 }}}</td>{{/if}}
      {{#if time}}<td><time>{{ time }}</time></td>{{/if}}
      {{#if acts}}
      <td>
        <ul>
        {{#each acts}}
          {{#if is-link }}<li><a href="#">{{ text }}</a></li>{{/if}}
          {{#if is-button}}<li>
            <button class="c-button c-button--as-link">
              {{ text }}
            </button>
          </li>{{/if}}
        {{/each}}
        </ul>
      </td>
      {{/if}}
      {{#if table}}
      <td class="has-table">
        {{> @table data=table }}
      </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
