{{! To ensure HTML comments that follow are within the head, not before it }}
{{! FAQ: Any <link>s, and comments AFTER the first, are migrated to <head> }}
<link rel='author' href='https://github.com/TACC/Core-Styles' />



<!-- Styles: Layers -->
{{!-- https://confluence.tacc.utexas.edu/x/b53tDg --}}
<style>
@layer foundation, base, project;
</style>

{{#if _target.context.shouldLoadBootstrap }}
{{#unless _target.context.shouldSkipBootstrap }}
<!-- Styles: Global (for current pattern): Bootstrap -->
<style>
  @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') layer(foundation);
</style>
{{/unless}}
{{/if}}
{{#if _target.context.shouldLoadBootstrap3 }}
{{#unless _target.context.shouldSkipBootstrap3 }}
<!-- Styles: Global (for current pattern): Bootstrap -->
<style>
  @import url('https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') layer(foundation);
</style>
{{/unless}}
{{/if}}
{{#if _target.context.shouldLoadBootstrap5 }}
{{#unless _target.context.shouldSkipBootstrap5 }}
<!-- Styles: Global (for current pattern): Bootstrap -->
<style>
  @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css') layer(foundation);
</style>
{{/unless}}
{{/if}}

<!-- Styles: Global (for every pattern) -->
{{> @import-client-styles styles=globalStyles }}

{{#if _target.context.shouldLoadCMS }}
{{#unless _target.context.shouldSkipCMS }}
<!-- Styles: Global (for current pattern): CMS -->
{{> @import-client-styles styles=cmsStyles }}
{{/unless}}
{{/if}}

{{#if _target.context.shouldLoadDocs }}
{{#unless _target.context.shouldSkipDocs }}
<!-- Styles: Global (for current pattern): Docs -->
{{> @import-client-styles styles=docsStyles }}
</style>
{{/unless}}
{{/if}}

{{#if _target.context.shouldLoadPortal }}
{{#unless _target.context.shouldSkipPortal }}
<!-- Styles: Global (for current pattern): Portal -->
{{> @import-client-styles styles=portalStyles }}
{{/unless}}
{{/if}}



{{#if _target.context.supportStyles}}
<!-- Styles: Local (for current pattern): Supporting Patterns -->
<style>
  {{#each _target.context.supportStyles}}
  @import url('{{path this}}');
  {{/each}}
</style>
{{/if}}

{{#unless _target.context.shouldSkipPattern}}
<!-- Styles: Local (for current pattern): Current Pattern -->
<style>
  @import url('{{path "/assets/{{ _target.context.subdir }}/{{ _target.baseHandle }}.css"}}');
</style>
{{/unless}}



<!-- Styles: Demo (for current pattern) -->
{{#each _target.resources.assets}}
{{#if this.isCSS}}
<style>
  @import url('{{path "/components/raw/{{ _target.baseHandle }}/{{ this.base }}"}}');
</style>
{{/if}}
{{/each}}



{{#if _target.context.shouldLoadBootstrap}}
<!-- Scripts: Global (for current pattern): Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{/if}}
{{#if _target.context.shouldLoadBootstrap3}}
<!-- Scripts: Global (for current pattern): Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
{{/if}}

<!-- Scripts: Local (for current pattern) -->
{{#each _target.resources.assets}}
{{#if this.isJS}}
<script
  type="module"
  src='{{path "/components/raw/{{ _target.baseHandle }}/{{ this.base }}"}}'
></script>
{{/if}}
{{/each}}



{{!-- Markup (for current pattern) --}}
{{#unless _target.context.shouldOmitMainTag}}
<main id="demo">
{{/unless}}
{{{yield}}}
{{#unless _target.context.shouldOmitMainTag}}
</main>
{{/unless}}
