<dt>{{ name }}</dt>
<dd>
  <p>
    <kbd>var(--{{ modifier }})</kbd>
  </p>
  <article class="demo-weight--{{ modifier }}  demo-grid demo-grid--square demo-grid--boxes">
    <figure class="demo-family--sans">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Sans</figcaption>
    </figure>
    <figure class="demo-family--sans demo-style--italic">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Sans</figcaption>
    </figure>
    <figure class="demo-family--serif">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Serif</figcaption>
    </figure>
    <figure class="demo-family--serif demo-style--italic">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Serif</figcaption>
    </figure>
    <figure class="demo-family--mono">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Mono</figcaption>
    </figure>
    <figure class="demo-family--mono demo-style--italic">
      <p>Aa</p>
      <figcaption>{{ name }}<br />Mono</figcaption>
    </figure>
  </article>
</dd>
