{{#message}}
{{> @message content=. }}
{{/message}}

{{#if markup.wrap_start}}
{{{markup.wrap_start}}}
{{else}}
<form action="" method="POST" enctype="multipart/form-data"
      {{#if class.root }}class="{{ class.root }}"{{/if}}
>

  <h3 {{#if class.title }}class="{{ class.title }}"{{/if}}>
    (Optional) Title of Form
  </h3>
  <p {{#if class.desc }}class="{{ class.desc }}"{{/if}}>
    (Optional) Description of the form.
  </p>
{{/if}}

  {{> @form-errors class=class.form_errors wrapClass=class.form_errors_wrap }}

  <div class="{{ class.field }} {{ class.has_required }}">
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="name">
      Name
      <span {{#if class.badge }}class="{{ class.badge }}"{{/if}}>(required)</span>
    </label>

    <input
      class="{{ class.control }}"
      type="text"
      name="name"
      required=""
      placeholder="Your name"
      id="name"
    />

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      We use this to identify your submission.
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="favorite-fruit">Favorite Fruit</label>

    <select class="{{ class.control }}" name="favorite-fruit" id="favorite-fruit">
      <option value="" selected="">
        Please select an option
      </option>
      <option value="Apple">Apple</option>
      <option value="Banana">Banana</option>
      <option value="Cherry">Cherry</option>
      <option value="Durian">Durian</option>
      <option value="Other">Other</option>
      <option value="Whatever">Whatever</option>
    </select>

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      Choose your favorite fruit.
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="wake-up-time">Wake Up Time</label>

    <input
      class="{{ class.control }}"
      type="time"
      name="wake-up-time"
      id="wake-up-time"
    />

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      We use this to know when to wake you up.
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  {{> @form-field-checkboxes
    type="radio"
    class=(concat class.field " " class.check_menu)
    inputClass=class.radio_control
    helpTextClass=class.hint
    helpTextTag=helpTextTag
    errorLoc=errorLoc
    inputListTag=inputListTag
    inputListClass=class.check_menu
    boxFieldClass=inputListItemClass
    checkboxes=form_field_radioboxes
  }}

  {{> @form-field-checkbox
    class=(concat class.field " " class.has_checkbox)
    inputClass=class.checkbox_control
    helpTextClass=class.hint
    helpTextTag=helpTextTag
    helpText="Are you checking out today?"
    errorLoc=errorLoc
    label="Checking Out?"
    name="checking-out"
    id="checking-out"
  }}

  {{> @form-field-checkboxes
    type="checkbox"
    class=(concat class.field " " class.check_menu)
    inputClass=class.checkbox_control
    helpTextClass=class.hint
    helpTextTag=helpTextTag
    errorLoc=errorLoc
    inputListTag=inputListTag
    inputListClass=class.check_menu
    boxFieldClass=inputListItemClass
    checkboxes=form_field_checkboxes
  }}

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="hangry-time">Hangry Time</label>

    <select class="{{ class.control }}" name="hangry-time" id="hangry-time">
      <option value="" selected="">
        Please select an option
      </option>
      <option value="Morning">Morning</option>
      <option value="Noon">Noon</option>
      <option value="Afternoon">Afternoon</option>
      <option value="Evening">Evening</option>
      <option value="Night">Night</option>
      <option value="Midnight">Midnight</option>
    </select>

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      At which time of day do you get hangry?
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="life-story">Life Story</label>

    <textarea
      class="{{ class.control }}"
      name="life-story"
      cols="40"
      rows="10"
      id="life-story"
    ></textarea>

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      Go on, tell me everything.
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="what-day-is-it">What day is it?</label>

    <input
      class="{{ class.control }}"
      type="date"
      name="what-day-is-it"
      id="what-day-is-it"
    />

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      Please enter today's date.
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
    {{#if (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/if}}

    <label for="your-favorite-picture">Your favorite picture</label>

    <input
      class="{{ class.file_control }}"
      type="file"
      name="your-favorite-picture"
      id="your-favorite-picture"
    />

    {{#unless (eq errorLoc "top")}}
      {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
    {{/unless}}

    {{#with helpTextTag as | tag |}}
    <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
      Upload your favorite image.
      <small class="{{../class.hint}}">
        Supported types:
        <code>.jpeg</code>,<code>.jpg</code>,<code>.gif</code>,<code>.png</code>
      </small>
    </{{#if tag}}{{tag}}{{else}}small{{/if}}>
    {{/with}}
  </div>

  <div class="{{ class.field }} {{ class.has_spam_filter }} {{ class.has_required }}">
    <label for="recaptcha_g9y93gP8">
      Are you a robot?
      <span {{#if class.badge }}class="{{ class.badge }}"{{/if}}>(required)</span>
    </label>

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
      // Submit function to be called, after reCAPTCHA was successful. var
      onSubmit_9e32f28ccb9545109ff6ae891f9af324 = function(token){" "}
      {console.log("reCAPTCHA validated for 'data-widget-uuid=\"9e32f28ccb9545109ff6ae891f9af324\"'")};
    </script>
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" required="" id="recaptcha_g9y93gP8" data-widget-uuid="9e32f28ccb9545109ff6ae891f9af324" data-callback="onSubmit_9e32f28ccb9545109ff6ae891f9af324" data-size="normal"></div>
  </div>

  <fieldset>
    <legend>sample fields in a fieldset</legend>

    {{!-- FAQ: Copied from first two fields --}}
    <div class="{{ class.field }} {{ class.has_required }}">
      {{#if (eq errorLoc "top")}}
        {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
      {{/if}}

      <label for="name">
        Name
        <span {{#if class.badge }}class="{{ class.badge }}"{{/if}}>(required)</span>
      </label>

      <input
        type="text"
        name="name"
        class="{{ class.control }}"
        required=""
        placeholder="Your name"
        id="name"
      />

      {{#unless (eq errorLoc "top")}}
        {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
      {{/unless}}

      {{#with helpTextTag as | tag |}}
      <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
        We use this to identify your submission.
      </{{#if tag}}{{tag}}{{else}}small{{/if}}>
      {{/with}}
    </div>

    <div {{#if class.field }}class="{{ class.field }}"{{/if}}>
      {{#if (eq errorLoc "top")}}
        {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
      {{/if}}

      <label for="favorite-fruit">Favorite Fruit</label>

      <select class="{{ class.control }}" name="favorite-fruit" id="favorite-fruit">
        <option value="" selected="">
          Please select an option
        </option>
        <option value="Apple">Apple</option>
        <option value="Banana">Banana</option>
        <option value="Cherry">Cherry</option>
        <option value="Durian">Durian</option>
        <option value="Other">Other</option>
        <option value="Whatever">Whatever</option>
      </select>

      {{#unless (eq errorLoc "top")}}
        {{> @field-errors class=class.field_errors wrapClass=class.field_errors_wrap }}
      {{/unless}}

      {{#with helpTextTag as | tag |}}
      <{{#if tag}}{{tag}}{{else}}small{{/if}} class="{{../class.hint}}">
        Choose your favorite fruit.
      </{{#if tag}}{{tag}}{{else}}small{{/if}}>
      {{/with}}
    </div>

  </fieldset>

  <fieldset>
    <legend>sample buttons outside footer</legend>
    <button {{#if class.button }}class="{{ class.button }}"{{/if}} type="submit">
      Submit
    </button>
    <button {{#if class.button }}class="{{ class.button }}"{{/if}} type="button">
      Button
    </button>
    <button {{#if class.button }}class="{{ class.button }}"{{/if}} type="reset">
      Reset
    </button>
  </fieldset>

  <footer {{#if class.buttons }}class="{{ class.buttons }}"{{/if}}>
    <button
      {{#if class.button }}class="{{ class.button }}"{{/if}}
      type="submit"
    >
      Submit
    </button>
    <button
      id="toggle-field-errors"
      {{#if class.button }}class="{{ class.button }}"{{/if}}
      type="button"
    >
      Toggle Field Errors
    </button>
    <button
      id="toggle-required-fields"
      {{#if class.button }}class="{{ class.button }}"{{/if}}
      type="button"
    >
      Toggle Required Fields
    </button>
    <button
      {{#if class.button }}class="{{ class.button }}"{{/if}}
      type="reset"
    >
      Reset Field Values
    </button>
  </footer>

{{#if markup.wrap_end}}
{{{markup.wrap_end}}}
{{else}}
</form>
{{/if}}

<script type="module">
  import toggleFieldErrors from '{{ path "/components/raw/c-form/toggle-field-errors.js" }}';

  document.addEventListener('DOMContentLoaded', () => {
    const toggle = document.getElementById('toggle-field-errors');
    const form = document.querySelector('form');
    const selector = '{{{ selectors.errorList }}}'

    toggle.addEventListener('click', () => {
      toggleFieldErrors( form, selector );
    });
  });
</script>
<script type="module">
  import toggleRequiredFields from '{{ path "/components/raw/c-form/toggle-required-fields.js" }}';

  document.addEventListener('DOMContentLoaded', () => {
    const toggle = document.getElementById('toggle-required-fields');
    const form = toggle.closest('form');

    toggle.addEventListener('click', () => {
      toggleRequiredFields( form, {
        shouldScrollToFirst: true,
        classNames: { wrapRequired: '{{{ classNames.has_required }}}' },
        selectors: { wrap: '{{{ selectors.wrap }}}' }
      });
    });
  });
</script>
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');

    form.addEventListener('submit', event => {
      event.preventDefault();

      /* TODO: Show success message on form */
      alert('Form was not submitted, because this is an incomplete demo.');
    });
  });
</script>
