<dl>
  <dt><code>&lt;span&gt;</code> <small>e.g. <code>display: inline</code></small></dt>
  <dd>
    <span class="{{ class }}">I am a {{ name }}</span>
  </dd>
  <dt><code>&lt;span <small>style="display: inline-block"</small>&gt;</code></dt>
  <dd>
    <span class="{{ class }}" style="display: inline-block">I am a {{ name }}</span>
  </dd>
  <dt><code>&lt;div&gt;</code> <small>e.g. <code>display: block</code></small></dt>
  <dd>
    <div class="{{ class }}">I am a {{ name }}</div>
  </dd>
  <dt><code>&lt;a&gt;</code></dt>
  <dd>
    <a href="#" class="{{ class }}">I am a {{ name }}</a>
  </dd>
  <dt><code>&lt;button&gt;</code></dt>
  <dd>
    <button class="{{ class }}">I am a {{ name }}</button>
  </dd>
</dl>
