<h2>Manual Tags <small>(add <code>c-tag</code> class to each tag)</small></h2>
<dl>
  <dt>Item <small>(no child)</small></dt>
  <dd>
    <ol class="c-tag-list">
      {{#each tags}}
        <li class="c-tag">{{this}}</li>
      {{/each}}
    </ol>
  </dd>
  <dt>Text <small>within Item</small></dt>
  <dd>
    <ol class="c-tag-list">
      {{#each tags}}
        <li>
          <span class="c-tag">{{this}}</span>
        </li>
      {{/each}}
    </ol>
  </dd>
  <dt>Link <small>within Item</small></dt>
  <dd>
    <ol class="c-tag-list">
      {{#each tags}}
        <li>
          <a class="c-tag" href="#">{{this}}</a>
        </li>
      {{/each}}
    </ol>
  </dd>
</dl>

<h2>Automatic Tags <small>(add matching <code>auto</code> class to list)</small></h2>
<dl>
  <dt>Item <small>(no child)</small></dt>
  <dd>
    <ol class="c-tag-list c-tag-list--auto-item">
      {{#each tags}}
        <li>{{this}}</li>
      {{/each}}
    </ol>
  </dd>
  <dt>Text <small>within Item</small></dt>
  <dd>
    <ol class="c-tag-list c-tag-list--auto-text">
      {{#each tags}}
        <li>
          <span>{{this}}</span>
        </li>
      {{/each}}
    </ol>
  </dd>
  <dt>Link <small>within Item</small></dt>
  <dd>
    <ol class="c-tag-list c-tag-list--auto-link">
      {{#each tags}}
        <li>
          <a class="c-tag" href="#">{{this}}</a>
        </li>
      {{/each}}
    </ol>
  </dd>
</dl>

{{#> @misuse }}
  <dl>
    <dt>No Explicit Tag Elements & No Auto Class</dt>
    <dd>
      <ol class="c-tag-list">
        {{#each tags}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
    </dd>
  </dl>
{{/ @misuse }}
